<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Rejestracja</div>

                <div class="card-body">
                    <form (ngSubmit)="registrationButtonClicked()" [formGroup]="registrationParams">

                        <div class="form-group row">
                            <label for="nickName" class="col-md-4 col-form-label text-md-right">Pseudonim</label>

                            <div class="col-md-6">
                                <input id="nickName" type="text" class="form-control" name="nickName"
                                       value="" formControlName="nickname" required autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-mail</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email"
                                       value="" formControlName="username" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Hasło</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control"
                                       name="password" formControlName="password" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Powtórz hasło</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control"
                                       name="password_confirmation" formControlName="confirmPassword" required>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" [disabled]="!registrationParams.valid ||
                                registrationParams.value.password !== registrationParams.value.confirmPassword">
                                    Rejestracja
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
