/* You can add global styles to this file, and also import other style files */
.empty-space{
    height: 50px;
}

.post-info{
    color: gray;
    font-size: small;
}

.post-small{
    color: black;
    text-decoration: none;
}

.post-small:hover{
    color: gray;
    text-decoration: none;
}