<!-- <div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mt-4">
        {{ post.title }}
      </h1>
      <p class="lead">
        by {{post.user.nickname}}
      </p>
      <hr>
      <p>Stworzono {{post.create_date}}</p>
      <hr>
      <p class="lead">
        {{post.text}}
      </p> -->
       <!-- Comments Form -->
      <!-- <div class="card my-4">
        <h5 class="card-header">Komentarz:</h5>
        <div class="card-body">
          <form >
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Dodaj</button>
          </form>
        </div>
      </div> -->
        <!-- Single Comment -->
      <!-- <div class="media mb-4">
        <div class="media-body">
          <h5 class="mt-0">autor</h5>
          Tresc
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
</div> -->