<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div *ngIf="isPostLoaded">
        <h1 class="mt-4">
          {{ post.title }}
        </h1>
        <p class="lead">
          by {{post.user.nickname}}
        </p>
        <hr>
        <p>Stworzono {{post.createDate | date }}</p>
        <hr>
        <p class="lead">
          {{post.text}}
        </p>
    </div>
       <!-- Comments Form -->
      <div class="card my-4" *ngIf="isLoggedIn">
        <h5 class="card-header">Komentarz:</h5>
        <div class="card-body">
          <form (ngSubmit)="createCommentButtonClicked()" [formGroup]="createCommentParams" >
            <div class="form-group">
              <textarea class="form-control" rows="3" formControlName="text" ></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Dodaj</button>
          </form>
        </div>
      </div>
        <!-- Single Comment -->
      <div class="media mb-4" *ngFor="let comment of comments">
        <div class="media-body">
          <h5 class="mt-0">Użytkownik: {{ comment.user.nickname }} </h5>
          <p>Dodano {{comment.createDate | date}}</p>
          {{ comment.text }}
          <hr>
        </div>
        <span style="color: red" *ngIf="comment.user.nickname==username || letDeleteComment" (click)="deleteCommentClicked(comment.commentId)" >Usuń</span>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
</div>